//
//  Version.xcconfig
//  EchoLedger
//
//  Created by Julien Cotte on 20/08/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

MARKETING_VERSION = 1.2.6
CURRENT_PROJECT_VERSION = 1
